<div class="card">
  <div class="" card-body>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus culpa
      iure laborum labore ratione, minus laudantium totam earum aspernatur quas
      doloremque repellat ut maxime quaerat sequi id. Eligendi molestias
      blanditiis dolorem non saepe commodi quos est illum quas ut! Dolore?

    </p>

  </div>
</div>