<div class="jumbotron mt-4">
<h1 class="display-4">Notes App Nodej and Mongodb</h1>
<p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis omnis facere vitae facilis consectetur deserunt debitis vel quaerat harum? Itaque omnis iste similique incidunt earum quod vero repudiandae ullam! Molestiae.</p>
<hr class="my-4">
<p></p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis reiciendis libero architecto porro sunt iste sed facilis illum dolores. Rerum atque ipsa eaque labore. Quod nihil fuga magnam at? Ad.</p>
<a href="https://github.com/GuillermoBaldan" class="btn btn-primary btn-lg">Guillermo Baldán</a>
</div>
 