<div class="jumbotron mt-4">
<h1 class="display-4">TOOOYS data manager system App</h1>
<p class="lead">TOOOYS is a operative system to manage interrelated data. This allows you to edit and view TOOOYS data for one user or several</p>
<hr class="my-4">
<p></p>This is the previous step to create an operating system that manages data more than files.In TOOOYS, documents are abandoned to create visualization and interaction templates with the data. In addition, a special emphasis is made on providing the data with a semantic load. TOOOYS aspires to be an operating system for AI developers and knowledge engineers in general.<br><em>The small way of a man can mark a route for humanity</em></p>
<a href="https://github.com/GuillermoBaldan" class="btn btn-primary btn-lg">Guillermo Baldán López</a>
</div>
 